*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --bg-color: #F9F4FB;
  --bg-color-purple: linear-gradient(45deg, #343193, #302C63);
  --bg-color-white: #FFFFFF;
  --title-color: #B52184;
  --p-color: #312D64;
  --border-color: #312D64;
}

body{
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*HEADER*/
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 3.4rem 9.3rem 3.2rem;
  width: 100%;
}

header .astronaut{
  margin: 0 auto;
}

header h1{
  color: var(--title-color);
  font-size: 3.2rem;
  font-weight: 900;
  text-align: center;
}

header p{
  color: var(--p-color);
  font-size: 2.0rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 3.5rem;
}

.arrow{
  width: 5.8rem;
  height: 10.5rem;
  margin-bottom: 9.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/*HEADER*/

/*MAIN*/
main{
  background: var(--bg-color-purple);
  padding: 5.2rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
}

figure{
  border-radius: 2rem;
  background: var(--bg-color-white);
  padding: 2.6rem 2.8rem;
  opacity: 0; /* Define opacidade inicial para 0 */
  transform: scale(0.5); /* Escala inicial para 0.5 */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transição suave */
}

figure.visible {
  opacity: 1; /* Opacidade quando visível */
  transform: scale(1); /* Escala normal quando visível */
}

.card-1{
  animation: myAnim 0.5s ease 0s 1 normal forwards;
}

.card-2{
  animation: myAnim 1s ease 0s 1 normal forwards;
}

.card-3{
  animation: myAnim 1.5s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		transform: scale(0.5);
	}

	100% {
		transform: scale(1);
	}
}

figure img{
  width: 8.0rem;
  height: 8.0rem;
}

figure figcaption{
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem 0 2rem 0;
}

figure p{
  color: var(--p-color);
  font-size: 1.5rem;
}
/*MAIN*/

/*CONTACT*/
#contact{
  width: 100%;
  height: 100%;
  padding: 7.8rem 3.9rem 6.5rem;
}

form{
  font-size: 1.6rem;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

fieldset{
  border: none;
  padding: 2rem;
}

legend{
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--title-color);
}

.input-container{
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input{
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.input-container input::placeholder{
  font-weight: 600;
  color: var(--p-color);
}

.input-container input:focus{
  border-color: var(--title-color);
  outline: none;
}

.input-container .icon{
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

textarea{
  width: 100%;
  height: 13rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

textarea::placeholder{
  color: var(--p-color);
}

textarea:focus{
  border: 1px solid var(--title-color);
}

button{
  padding: 1.1rem 1.6rem;
  background: var(--bg-color-purple);
  border: none;
  border-radius: 1rem;
  color: var(--bg-color-white);
}

button:hover{
  background: var(--p-color);
}
/*CONTACT*/

/*FOOTER*/
footer{
  text-align: center;
  background: var(--bg-color-purple);
  width: 100%;
  padding: 3.2rem ;
  font-size: 2rem;
  color: var(--bg-color-white);
}
/*FOOTER*/

/* @media */

@media (min-width: 1440px) {
 /* HEADER */
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2.9rem 10.3rem 10.9rem;
    max-height: 83.6rem;
  }

  .header-content {
    order: 1;
    margin-top: 31.2rem;
  }

  .astronaut{
    order: 2;
    width: 72rem;
    height: 73rem;
  }

  .header-content h1{
    text-align: start;
    font-size: 5.8rem;
    line-height: 7.3rem;
    margin: 0 0 0.8rem;
  }

  .header-content p{
    text-align: start;
    font-size: 3.2rem;
    line-height: 4rem;
    margin-bottom: 17.9rem;
  }

  .arrow{
    margin: 0;
    justify-content: flex-end;
  }
  /* MAIN */
  main {
    flex-direction: row; /* Alinhar os cards em linha */
    gap: 3rem; /* Ajustar o espaçamento entre os cards */
    justify-content: space-around; /* Distribuir o espaço entre os cards */
    width: 100%; /* Definir uma largura para o main */
    margin: auto; /* Centralizar o main */
  }

  figure {
    flex: 1; /* Distribuir os figures igualmente */
    max-width: 30%; /* Definir uma largura máxima para os cards */
  }

  figure img{
    width: 9.7rem;
    height: 9.7rem;
  }

  figure h1{
    font-size: 3.6rem;
  }

  figure p{
    font-size: 2rem;
  }

  /* FORM */
  #contact{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 9.2rem;
    padding: 0;
    height: 62.2rem;
    margin: 0 auto;
    background: url(./assets/stars.svg);
    background-repeat: no-repeat;
    background-position: right;
  }

  #contact form{
    flex: 1;
    margin-left: 10.9rem;
  }

  .stars{
    flex: 1;
  }
}
