*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --bg-color: #F9F4FB;
  --bg-color-purple: linear-gradient(45deg, #343193, #302C63);
  --bg-color-white: #FFFFFF;
  --title-color: #B52184;
  --p-color: #312D64;
  --border-color: #312D64;
}

body{
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*HEADER*/
header{
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

header h1{
  color: var(--title-color);
  font-size: 3.2rem;
  font-weight: 900;
}

header p{
  color: var(--p-color);
  font-size: 2.0rem;
  font-weight: 400;

}

#arrow{
  width: 5.8rem;
  height: 10.5rem;
  margin-bottom: 9.3rem;
}
/*HEADER*/

/*MAIN*/
main{
  background: var(--bg-color-purple);
  padding: 5.2rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
}

figure{
  border-radius: 2rem;
  background: var(--bg-color-white);
  padding: 2.6rem 2.8rem;
}

figure img{
  width: 8.0rem;
  height: 8.0rem;
}

figure figcaption{
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem 0 2rem 0;
}

figure p{
  color: var(--p-color);
  font-size: 1.5rem;
}
/*MAIN*/

/*CONTACT*/
form{
  font-size: 1.6rem;
  max-width: 60rem;
  margin: 2rem auto;
  padding: 1rem;
}

fieldset{
  border: none;
  padding: 2rem;
}

legend{
  font-weight: 900;
  font-size: 3.2rem;
  color: var(--title-color);
}

.input-container{
  position: relative;
  margin-bottom: 1.5rem;
}

.input-container input{
  width: 100%;
  padding: 1rem 1rem 1rem 4rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.input-container input::placeholder{
  font-weight: 600;
  color: var(--p-color);
}

.input-container input:focus{
  border-color: var(--title-color);
  outline: none;
}

.input-container .icon{
  position: absolute;
  margin-left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

textarea{
  width: 35rem;
  height: 13rem;
  padding: 1.2rem 1.6rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
  outline: none;
  font-size: 1.6rem;
  background-color: var(--bg-color);
}

textarea::placeholder{
  color: var(--p-color);
}

textarea:focus{
  border: 1px solid var(--title-color);
}

button{
  padding: 1.1rem 1.6rem;
  background: var(--bg-color-purple);
  border: none;
  border-radius: 1rem;
  color: var(--bg-color-white);
}

button:hover{
  background: var(--p-color);
}
/*CONTACT*/

/*FOOTER*/
footer{
  text-align: center;
  background: var(--bg-color-purple);
  width: 100%;
  padding: 3.2rem ;
  font-size: 2rem;
  color: var(--bg-color-white);
}