*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  font-family: "Mulish", sans-serif;
  --bg-color: #F9F4FB;
  --bg-color-purple: linear-gradient(45deg, #343193, #302C63);
  --bg-color-white: #FFFFFF;
  --title-color: #B52184;
  --p-color: #312D64;
}

body{
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*HEADER*/
header{
  display: flex;
  flex-direction: column; 
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
}

header h1{
  color: var(--title-color);
  font-size: 3.2rem;
  font-weight: 900;
}

header p{
  color: var(--p-color);
  font-size: 2.0rem;
  font-weight: 400;

}

#arrow{
  width: 5.8rem;
  height: 10.5rem;
  margin-bottom: 9.3rem;
}
/*HEADER*/

/*MAIN*/
main{
  width: 100%;
  background: var(--bg-color-purple);
  padding: 5.2rem 3.9rem;
  display: flex;
  flex-direction: column;
  gap: 5.0rem;
}

figure{
  border-radius: 2rem;
  background: var(--bg-color-white);
  padding: 2.6rem 2.8rem;
}

figure img{
  width: 8.0rem;
  height: 8.0rem;
}

figure figcaption{
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 900;
  margin: 2rem 0 2rem 0;
}

figure p{
  color: var(--p-color);
  font-size: 1.5rem;
}
/*MAIN*/

/*CONTACT*/
#contact-form{
  background: var(--bg-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 7.8rem 4.0rem;
  gap: 2.4rem;
}

#contact-form h1{
  font-size: 3.2rem;
  color: var(--title-color);
  font-weight: 900;
  margin-bottom: 0,8rem;
}